/* Container for positioning */
.hologram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: -150px;
}

/* Hologram effect styling remains the same */
.hologram-effect {
  position: relative;
  right: 40px;
  display: inline-block;
  padding: 10px;
  z-index: 1000;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    hsla(250, 65%, 65%, 0.3),
    hsla(280, 70%, 60%, 0.3)
  );

  box-shadow: 0 0 20px rgba(0, 255, 234, 0.8), 0 0 40px rgba(0, 136, 204, 0.6),
    inset 0 0 10px rgba(0, 255, 234, 0.5);
  animation: hologramGlow 2s infinite alternate;
}

/* Profile image */
.hologram-effect img {
  width: 300px;
  height: 300px;
  opacity: 0;
  border-radius: 50%;
  animation: flicker 3s infinite alternate;
}

/* Hologram text styling */
.hologram-text {
  position: relative;
  right: 38px;
  color: #fff;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: flicker 2.5s infinite alternate;
  margin-top: 10px;
  animation: glow-text2 2s infinite alternate;
}

@keyframes glow-text2 {
  0% {
    text-shadow: 0 0 10px rgba(158, 107, 240, 1),
      0 0 20px rgba(158, 107, 240, 0.8);
  }

  100% {
    text-shadow: 0 0 20px rgba(158, 107, 240, 1),
      0 0 30px rgba(158, 107, 240, 0.8);
  }
}

@keyframes scaleBounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15); /* Slightly overscale for effect */
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* Animation for the spaceship appearing */
@keyframes appearing {
  0% {
    transform: translate(
      -100vw,
      -200px
    ); /* Start from top left outside the viewport */
  }
  100% {
    transform: translate(0, 0); /* Move to its normal position */
  }
}

/* Animations */
@keyframes hologramGlow {
  0% {
    box-shadow: 0 0 20px hsla(250, 65%, 65%, 0.5),
      /* outer soft glow */ 0 0 40px hsla(250, 65%, 65%, 0.3),
      /* wider glow */ inset 0 0 15px hsla(250, 65%, 65%, 0.3); /* inner glow */
    transform: translateY(-2px);
  }
  100% {
    box-shadow: 0 0 30px hsla(250, 65%, 65%, 0.7),
      /* brighter outer glow */ 0 0 60px hsla(250, 65%, 65%, 0.5),
      /* stronger wide glow */ inset 0 0 25px hsla(250, 65%, 65%, 0.6); /* stronger inner glow */
    transform: translateY(2px);
  }
}

@keyframes projectorMove {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.8;
  }
}

/* Alien projector styling */
.alien-projector {
  position: absolute;
  cursor: pointer;
  right: 35%;
  top: 350px;
  opacity: 1;
  z-index: 100;
  animation: projectorMove 2s infinite alternate;
  filter: brightness(1.3); /* Adds a glowing effect */
}

/* Alien projector image styling */
.alien-projector img {
  width: 140px;
  height: 140px;
  transform: translateY(0);
  animation: projectorMove 2s infinite alternate;
}

/* Multiple light beams emerging from the alien projector */
.alien-projector::before,
.alien-projector::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 10%;
  width: 410px; /* Increased width for wider light beams */
  height: 10px; /* Increased height for denser light */
  background: hsla(250, 65%, 65%, 0.5); /* More dense background */
  box-shadow: 0px 2px 10px hsla(250, 65%, 65%, 0.8); /* More pronounced shadow */
  transform-origin: left;
  filter: blur(10px); /* Increased blur for a smoother light effect */
  opacity: 0;
  transition: opacity 1s;
}

/* Light beams visible class */
.light-beams-visible::before,
.light-beams-visible::after {
  opacity: 1; /* Make visible */
  animation: lightProjection 5s forwards;
}

.alien-projector::before {
  background: linear-gradient(to right, hsla(250, 65%, 65%, 0.8), transparent);
}

.alien-projector::after {
  background: linear-gradient(to right, hsla(250, 65%, 65%, 0.5), transparent);
}

/* Additional adjustments for animation delays */
.alien-projector::after,
.alien-projector::before {
  animation-delay: 0.3s; /* Adjust delay for timing */
}

/* Animation for the light projection effect */
@keyframes lightProjection {
  0% {
    opacity: 0.5;
    transform: translateY(20px);
    transform: rotate(-5deg);
  }
  100% {
    opacity: 1;
    transform: translateY(-30px);
    transform: rotate(-40deg);
  }
}

@media (max-width: 754px) {
  /* Container for positioning */
  .hologram-container {
    right: -20px;
    animation: none;
  }
  .alien-projector {
    display: none;
  }
  .spaceShip {
    display: none;
  }
}

@media (max-width: 460px) {
  /* Container for positioning */
  .hologram-effect img {
    width: 200px;
    height: 200px;
    opacity: 0;
    border-radius: 50%;
    animation: flicker 3s infinite alternate;
  }
  /* Hologram text styling */
  .hologram-text {
    font-size: 1.2em;
  }
  .hologram-container {
    right: -30px;
    animation: none;
  }
}
